@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Segoe UI, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  background: #121212;
  color: #f3f4f6;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  height: 100%;
}
